.fixed-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: #f1f1f1;
}

.centered-table {
    margin-left: auto;
    margin-right: auto;
}

.form-container {
    background-color: red; /* Defina a cor de fundo desejada */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adicione uma sombra ao contorno */
}

.image-container {
    position: relative;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.image-container label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image-container input[type="file"] {
    display: none;
}
