<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{template :: layout(~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <style>

        .fit-img {
            width: 320px;
            height: 320px;
            object-fit: cover
        }
    </style>
</head>
<body>
<div class="container">
    <h2>Meu Perfil</h2>
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-12">
            <div class="row p-5 g-0 overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                <form th:action="@{/usuario/atualizar}" th:object="${user}" method="post" accept=".jpg, .jpeg, .png" enctype="multipart/form-data">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <input type="hidden" name="userId" th:value="${user.id}"/>
                    <h5 class="text-center">Dados Pessoais</h5>
                    <hr class="border-bottom">
                    <div class="row">
                        <div class="col-md-3 mb-3 d-flex align-items-center justify-content-center">
                            <input type="file" id="fotoInput" name="foto" accept="image/*" style="display: none;">
                            <label for="fotoInput">
                                <img class="rounded-circle mx-4 fit-img preview" th:if="${imagemBase64}" th:src="'data:image/jpeg;base64,' + ${imagemBase64}" width="200" style="cursor: pointer"/>
                                <img class="rounded-circle mx-4 fit-img preview" th:unless="${imagemBase64}" th:src="@{/images/avatar_placeholder.png}" width="200" style="cursor: pointer"/>
                            </label>
                        </div>
                        <div class="col-md-9">
                            <div class="mb-3">
                                <label for="matricula" class="form-label"><strong>Matrícula:</strong></label>
                                <input id="matricula" class="form-control" th:value="${user.matricula}" disabled>
                            </div>
                            <div class="mb-3">
                                <label for="nome" class="form-label"><strong>Nome:</strong></label>
                                <input id="nome" name="nome" class="form-control" th:value="${user.nome}" maxlength="50">
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="cpf" class="form-label"><strong>CPF:</strong></label>
                                        <input id="cpf" name="cpf" class="form-control" th:value="${user.cpf}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="dataNasc" class="form-label"><strong>Data de Nascimento:</strong></label>
                                        <input type="date" id="dataNasc" name="dataNasc" class="form-control" th:value="${user.dataNasc}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="text-center mt-4">Contatos</h5>
                    <hr class="border-bottom">
                    <div class="row">
                        <div class="mb-3">
                            <label for="email" class="form-label"><strong>Email:</strong></label>
                            <input id="email" class="form-control" th:value="${user.email}" maxlength="50"
                                   disabled>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="telefone" class="form-label"><strong>Telefone:</strong></label>
                                    <input id="telefone" name="telefone" class="form-control" th:value="${user.telefone}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="celular" class="form-label"><strong>Celular:</strong></label>
                                    <input id="celular" name="celular" class="form-control" th:value="${user.celular}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="text-center mt-4">Informações extras</h5>
                    <hr class="border-bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="peso" class="form-label"><strong>Peso(kilo):</strong></label>
                                <input id="peso" name="peso" class="form-control" th:value="${user.peso}">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="altura" class="form-label"><strong>Altura(metro):</strong></label>
                                <input id="altura" name="altura" class="form-control" th:value="${user.altura}">
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="objetivo" class="form-label"><strong>Objetivo:</strong></label>
                        <input id="objetivo" name="objetivo" class="form-control" th:value="${user.objetivo}">
                    </div>

                    <div class="mb-3">
                        <label for="observacoes" class="form-label"><strong>Observações:</strong></label>
                        <input id="observacoes" name="observacoes" class="form-control" th:value="${user.observacoes}">
                    </div>
                <div class="text-center">
                    <div class="btn-group" role="group" aria-label="Group of buttons">
                        <a type="button" class="btn btn-outline-secondary"
                           th:href="@{/usuario/perfil}"><strong>Voltar</strong></a>
                        <button type="submit" class="btn btn-secondary"><strong>Salvar</strong></button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/imask"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        IMask(document.getElementById('telefone'), {mask: '(00) 0000-0000'});
        IMask(document.getElementById('celular'), {mask: '(00) 00000-0000'});
        IMask(document.getElementById('cpf'), {mask: '000.000.000-00'});
        IMask(document.getElementById('altura'), {mask: '0.00'});

        const peso = document.getElementById('peso');
        peso.onkeyup = function(){
            let v = this.value;
            let integer = v.split('.')[0];
            v = v.replace(/\D/, "");
            v = v.replace(/^[0]+/, "");
            if (v.length <= 3 || !integer) {
                if (v.length === 1) v = '0.00' + v;
                if (v.length === 2) v = '0.0' + v;
                if (v.length === 3) v = '0.' + v;
            } else {
                if (v.length === 4) {
                    v = '0' + v;
                }
                v = v.slice(0, 5);
                v = v.replace(/^(\d{1,3})(\d{2})$/, "$1.$2");
            }
            this.value = v;
        }

        const dataNascInput = document.getElementById('dataNasc');
        const today = new Date();
        const yyyy = today.getFullYear();
        const mm = String(today.getMonth() + 1).padStart(2, '0');
        const dd = String(today.getDate()).padStart(2, '0');
        const maxDate = `${yyyy}-${mm}-${dd}`;
        dataNascInput.setAttribute('max', maxDate);
    });

    document.getElementById('fotoInput').addEventListener('change', function () {
        const file = this.files[0];
        const preview = document.querySelector('.preview');
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const novaImagem = new Image();
                novaImagem.src = e.target.result;
                novaImagem.onload = function () {
                    preview.src = novaImagem.src;
                };
            };
            reader.readAsDataURL(file);
        }
    });

</script>
</body>
</html>