<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{template :: layout(~{::body})}">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .fit-img {
            width: 200px;
            height: 200px;
            object-fit: cover
        }
    </style>
</head>
<body>
    <div class="mt-5">
        <h2 class="my-3 mx-3">Meu Perfil</h2>
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-md-12">
                <div
                    class="row p-5 g-0 overflow-hidden flex-md-row mb-4 h-md-250 position-relative">
                    <form action="#" th:action="@{/usuario/show/{id}(id=${user.id})}" th:object="${user}"
                        method="post">

                        <h5 class="text-center">Dados Pessoais</h5>
                        <hr class="border-bottom">
                        <div class="row">
                            <div class="col-md-3 mb-3 d-flex align-items-center justify-content-center">
                                <img class="mx-4" src="/images/avatar_placeholder.png" width="320">
<!--                                <img class="rounded-circle fit-img align-middle"-->
<!--                                    th:src="'data:image/jpeg;base64,' + *{foto}" alt="Foto do Cliente">-->
                            </div>
                            <div class="col-md-9">
                                <div class="mb-3">
                                    <label for="matricula" class="form-label"><strong>Matrícula:</strong></label>
                                    <input id="matricula" class="form-control" th:value="${user.matricula}"
                                        disabled>
                                </div>
                                <div class="mb-3">
                                    <label for="nome" class="form-label"><strong>Nome:</strong></label>
                                    <input id="nome" class="form-control" th:value="${user.nome}" maxlength="50">
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="cpf" class="form-label"><strong>CPF:</strong></label>
                                            <input id="cpf" class="form-control" th:value="${user.cpf}" readonly>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="dataNasc" class="form-label"><strong>Data de
                                                    Nascimento:</strong></label>
                                            <input type="date" id="dataNasc" class="form-control"
                                                th:value="${user.dataNasc}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="text-center mt-4">Contatos</h5>
                        <hr class="border-bottom">
                        <div class="row">
                            <div class="mb-3">
                                <label for="email" class="form-label"><strong>Email:</strong></label>
                                <input id="email" class="form-control" th:value="${user.email}" maxlength="50"
                                    disabled>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="telefone" class="form-label"><strong>Telefone:</strong></label>
                                        <input id="telefone" class="form-control" th:value="${user.telefone}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="celular" class="form-label"><strong>Celular:</strong></label>
                                        <input id="celular" class="form-control" th:value="${user.celular}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5 class="text-center mt-4">Informações extras</h5>
                        <hr class="border-bottom">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="peso" class="form-label"><strong>Peso(kilo):</strong></label>
                                    <input id="peso" class="form-control" th:value="${user.peso}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="altura" class="form-label"><strong>Altura(metro):</strong></label>
                                    <input id="altura" class="form-control" th:value="${user.altura}">
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="objetivo" class="form-label"><strong>Objetivo:</strong></label>
                            <input id="objetivo" class="form-control" th:value="${user.objetivo}">
                        </div>

                        <div class="mb-3">
                            <label for="observacoes" class="form-label"><strong>Observações:</strong></label>
                            <input id="observacoes" class="form-control" th:value="${user.observacoes}">
                        </div>
                    </form>
                        <div class="text-center">
                            <a type="button" class="btn btn-outline-secondary"
                                th:href="@{/}"><strong>Voltar</strong></a>
                            <button type="submit" class="btn btn-secondary"><strong>Atualizar</strong></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/imask"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            IMask(document.getElementById('telefone'), { mask: '(00) 0000-0000' });
            IMask(document.getElementById('celular'), { mask: '(00) 00000-0000' });
            IMask(document.getElementById('cpf'), { mask: '000.000.000-00' });
            IMask(document.getElementById('altura'), { mask: '0.00' });
            IMask(document.getElementById('peso'), { mask: '000.00' });

            const dataNascInput = document.getElementById('dataNasc');
            const today = new Date();
            const yyyy = today.getFullYear();
            const mm = String(today.getMonth() + 1).padStart(2, '0');
            const dd = String(today.getDate()).padStart(2, '0');
            const maxDate = `${yyyy}-${mm}-${dd}`;
            dataNascInput.setAttribute('max', maxDate);
        });
    </script>
</body>
</html>