<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Ficha</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" th:href="@{../static/css/styles.css}"/>
    <style>
        body {
            background-color: #f8f9fa;
        }
        .fit-img {
            width: 200px;
            height: 200px;
            object-fit: cover
        }
        @media print {
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
                overflow: hidden;
            }

            .ficha-container {
                max-height: calc(100vh - 1in);
                overflow: hidden;
                page-break-after: always;
            }

            .ficha-inner {
                page-break-inside: avoid;
            }

            .img-print {
                width: 100px;
                height: 100px;
                object-fit: cover
            }

            .no-print {
                display: none;
            }

            @page {
                size: auto;
                margin: 0;
            }
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary no-print">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://localhost:8080/cliente/cadastrar">
                <img src="/images/UFN.png" alt="UFN logo" height="28">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/cliente/cadastrar"><strong>CADASTRO</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/cliente/listar"><strong>LISTAR</strong></a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>
<div class="mt-5 ficha-inner">
    <h2 class="my-3 text-center">Ficha do Cliente</h2>
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-6">
            <div class="row p-5 g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="container ficha-container">
                    <h5 class="text-center">Dados Pessoais</h5>
                    <hr class="border-bottom">
                    <div class="row">
                        <div class="col-md-3 mb-3 d-flex align-items-center justify-content-center">
                            <img class="rounded-circle fit-img img-print align-middle"
                                 th:src="'data:image/jpeg;base64,' + ${cliente.foto}" alt="Foto do Cliente">
                        </div>
                        <div class="col-md-9">
                            <div class="mb-3">
                                <label for="matricula" class="form-label"><strong>Matrícula:</strong></label>
                                <span id="matricula" class="form-control" th:text="${cliente.matricula}"
                                      readonly></span>
                            </div>
                            <div class="mb-3">
                                <label for="nome" class="form-label"><strong>Nome:</strong></label>
                                <span id="nome" class="form-control" th:text="${cliente.nome}" readonly></span>
                            </div>
                            <div class="row">
                                <div class="col-md-6 no-print">
                                    <div class="mb-3">
                                        <label for="cpf" class="form-label"><strong>CPF:</strong></label>
                                        <input type="text" class="form-control" placeholder="CPF" aria-label="cpf"
                                               aria-describedby="iconcpf" id="cpf" name="cpf" th:value="${cliente.cpf}"
                                               readonly required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="dataNasc" class="form-label"><strong>Data de Nascimento:</strong></label>
                                        <input type="date" class="form-control" id="dataNasc" th:value="${cliente.dataNasc}" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="border-bottom">
                    <div class="row no-print">
                        <h5 class="text-center mt-4">Contatos</h5>
                        <div class="mb-3">
                            <label for="email" class="form-label"><strong>Email:</strong></label>
                            <span id="email" class="form-control" th:text="${cliente.email}" readonly></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="telefone" class="form-label"><strong>Telefone:</strong></label>
                                    <input type="text" class="form-control" placeholder="Telefone" aria-label="telefone"
                                           id="telefone" name="telefone" th:value="${cliente.telefone}" readonly
                                           required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="celular" class="form-label"><strong>Celular:</strong></label>
                                    <input type="text" class="form-control" placeholder="Celular" aria-label="celular"
                                           id="celular" name="celular" th:value="${cliente.celular}" readonly required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 class="text-center mt-4">Informações extras</h5>
                    <hr class="border-bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="peso" class="form-label"><strong>Peso:</strong></label>
                                <input type="text" class="form-control" placeholder="Peso" aria-label="peso"
                                       id="peso" name="peso" th:value="${cliente.peso}" readonly required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="altura" class="form-label"><strong>Altura:</strong></label>
                                <input type="text" class="form-control" placeholder="Altura" aria-label="altura"
                                       id="altura" name="altura" th:value="${cliente.altura}" readonly required>
                            </div>
                        </div>

                    </div>

                    <div class="mb-3">
                        <label for="objetivo" class="form-label"><strong>Objetivo:</strong></label>
                        <span id="objetivo" class="form-control" th:text="${cliente.objetivo}" readonly></span>
                    </div>

                    <div class="mb-3">
                        <label for="observacoes" class="form-label"><strong>Observações:</strong></label>
                        <span id="observacoes" class="form-control" th:text="${cliente.observacoes}" readonly></span>
                    </div>
                </div>
                <div class="text-center no-print">
                    <div class="btn-group" role="group" aria-label="Group of buttons">
                        <a class="btn btn-outline-secondary" href="http://localhost:8080/cliente/listar">
                            <i class="fa-solid fa-left"></i> Voltar
                        </a>
                        <button type="button" class="btn btn-outline-secondary" onclick="imprimirFicha()">
                            <i class="fas fa-print"></i> Imprimir
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/imask"></script>
<script>
    $(document).ready(function () {
        IMask(document.getElementById('cpf'), {mask: '000.000.000-00'});
        IMask(document.getElementById('telefone'), {mask: '(00) 0000-0000'});
        IMask(document.getElementById('celular'), {mask: '(00) 00000-0000'});
        IMask(document.getElementById('altura'), {mask: '0.00'});
        IMask(document.getElementById('peso'), {mask: '000.00'});
    });

    function imprimirFicha() {
        window.print();
    }
</script>
</body>
</html>