<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Treino</title>
</head>
<body>
<h1>Cadastrar Treino</h1>
<form th:action="@{/treino/salvar}" th:object="${treino}" method="post">
    <input type="hidden" th:field="*{id}">

    <label for="ordem">Ordem:</label>
    <input type="text" name="ordem" id="ordem" th:field="*{ordem}" required="required" autofocus="autofocus">
    <br>
    <label for="series">Series:</label>
    <input type="text" name="series" id="series" th:field="*{series}" required="required">
    <br>
    <label for="tipoTreino">Tipo Treino:</label>
    <input type="text" name="tipoTreino" id="tipoTreino" th:field="*{tipoTreino}" required="required">
    <br>
    <label for="trocaTreino">Troca Treino:</label>
    <input type="date" name="trocaTreino" id="trocaTreino" th:field="*{trocaTreino}">
    <br>
    <label for="repeticao">Repeticao:</label>
    <input type="text" name="repeticao" id="repeticao" th:field="*{repeticao}" required="required">
    <br>
    <label for="carga">Carga:</label>
    <input type="text" name="carga" id="carga" th:field="*{carga}" required="required">
    <br>
    <label for="observacao">Observacao:</label>
    <input type="text" name="observacao" id="observacao" th:field="*{observacao}" required="required">
    <br>
    <select name="exercicioId" id="exercicios">
        <option th:each="exercicio : ${exercicios}" th:value="${exercicio.id}" th:text="${exercicio.nome}"></option>
    </select>
    <input type="submit" value="Cadastrar">
</form>

</body>
</html>
