<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .fit-img {
            width: 100px;
            height: 100px;
            object-fit: cover
        }
    </style>
</head>

<body>
<div class="mt-5">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="text-center col p-4 d-flex flex-column position-static">
                    <!-- Icone e Nome do App -->
                    <div class="text-start">
                        <strong class="text-left d-inline-block mb-2 text-primary-emphasis"><img src="/images/icone.png"
                                                                                                 alt="icone"
                                                                                                 height="32"> GymGenius</strong>
                    </div>
                    <div class="container">
                        <h4 class="mb-0 mt-2">Bem-vindo</h4>
                        <div class="text-body-secondary">Por favor, insira seus dados para o cadastro</div>
                        <div class="mb-5 mt-5 small">
                            <!-- Progresso do formulário -->
                            <ul class="nav nav-pills justify-content-center">
                                <li class="nav-item">
                                    <a class="nav-link passo disabled" href="#">
                                        <i class="bi bi-camera-fill"></i>
                                        <div class="step-number small">Passo 1</div>
                                        <div class="step-label small">Foto</div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link passo disabled" href="#">
                                        <i class="bi bi-person-vcard-fill"></i>
                                        <div class="step-number small">Passo 2</div>
                                        <div class="step-label small">Dados</div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link passo disabled" href="#">
                                        <i class="bi bi-telephone-fill"></i>
                                        <div class="step-number small">Passo 3</div>
                                        <div class="step-label small">Contato</div>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link passo disabled" href="#">
                                        <i class="bi bi-rulers"></i>
                                        <div class="step-number small">Passo 4</div>
                                        <div class="step-label small">Medidas</div>
                                    </a>
                                </li>

                            </ul>
                        </div>
                        <form id="formulario" action="#" th:action="@{/cliente/salvar}" th:object="${cliente}"
                              method="post" enctype="multipart/form-data">
                            <!-- Parte 1: Foto -->
                            <div id="dados-1" style="display: none;">
                                <div class="has-text-centered">
                                    <div>
                                        <img class="rounded-circle fit-img" id="preview"
                                             th:src="@{/images/avatar_placeholder.png}"
                                             onclick="document.getElementById('foto').click()">
                                        <div class="caption">Clique para anexar a foto</div>
                                    </div>
                                    <div class="mb-3">
                                        <input type="file" id="foto" name="foto" accept=".png, .jpg" multiple
                                               style="display: none;">
                                    </div>
                                </div>
                            </div>
                            <!-- Parte 2: Dados Pessoais -->
                            <div id="dados-2">
                                <div class="field">
                                    <p class="small my-0 mx-0 text-start">Data de nascimento</p>
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text" id="iconData"><i
                                                class="bi bi-calendar3"></i></span>
                                        <input type="date" class="form-control" placeholder="Data de nascimento"
                                               aria-label="Data de nascimento" aria-describedby="iconData" required
                                               id="dataNasc" name="dataNasc" value="">
                                    </div>
                                </div>
                                <div class="field mt-2">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text" id="iconnome"><i
                                                class="bi bi-person-lines-fill"></i></span>
                                        <input type="text" class="form-control" placeholder="Nome completo"
                                               aria-label="Username" aria-describedby="iconnome" required id="nome"
                                               name="nome" maxlength="60" value="">
                                    </div>
                                </div>
                                <div class="field mt-2">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text" id="iconcpf"><i
                                                class="bi bi-file-text"></i></span>
                                        <input type="text" class="form-control" placeholder="CPF" aria-label="cpf"
                                               aria-describedby="iconcpf" required id="cpf" name="cpf" value="">
                                    </div>
                                </div>
                            </div>
                            <!-- Parte 2: Contato -->
                            <div id="dados-3" style="display: none;">
                                <p class="my-0 mx-0 text-start">Dados de contato</p>
                                <div class="field mt-2">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text" id="icontelefone"><i class="bi bi-telephone"></i></span>
                                        <input type="text" class="form-control" placeholder="Telefone"
                                               aria-label="telefone" aria-describedby="icontelefone" id="telefone"
                                               name="telefone" value="">
                                    </div>
                                </div>
                                <div class="field mt-2">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text" id="iconcelular"><i
                                                class="bi bi-phone"></i></span>
                                        <input type="text" class="form-control" placeholder="Celular"
                                               aria-label="celular" aria-describedby="iconcelular" id="celular"
                                               name="celular" value="">
                                    </div>
                                </div>
                                <div class="field mt-2">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text" id="iconemail"><i class="bi bi-envelope-at"></i></span>
                                        <input type="text" class="form-control" placeholder="Email" aria-label="email"
                                               aria-describedby="iconemail" required id="email" name="email" value="">
                                    </div>
                                </div>
                            </div>
                            <!-- Parte 3: Medidas -->
                            <div id="dados-4" style="display: none;">
                                <div class="field mt-2">
                                    <p class="small my-0 mx-0 text-start">Peso</p>
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text" id="iconpeso"><i
                                                class="bi bi-universal-access"></i></span>
                                        <input type="number" class="form-control" placeholder="Peso" aria-label="Peso"
                                               aria-describedby="iconpeso" id="peso" name="peso" step="0.01">
                                    </div>
                                </div>
                                <div class="field mt-2">
                                    <p class="small my-0 mx-0 text-start">Altura</p>
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text" id="iconaltura"><i class="bi bi-sort-up-alt"></i></span>
                                        <input type="number" class="form-control" placeholder="Altura"
                                               aria-label="Altura" aria-describedby="iconaltura" required id="altura"
                                               name="altura" step="0.01">
                                    </div>
                                </div>
                                <div class="field mt-2">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text"><i class="bi bi-file-earmark-text"></i></span>
                                        <textarea class="form-control" aria-label="objetivo" placeholder="Objetivo"
                                                  id="objetivo" name="objetivo"></textarea>
                                    </div>
                                </div>
                                <div class="field mt-2">
                                    <div class="input-group flex-nowrap">
                                        <span class="input-group-text"><i class="bi bi-file-earmark-text"></i></span>
                                        <textarea class="form-control" placeholder="Observações relevantes para você"
                                                  id="observacoes" name="observacoes"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="field mt-4">
                                <div class="control has-text-centered">
                                    <button id="btn-anterior" class="btn btn-outline-dark mt-3" type="button">Voltar
                                    </button>
                                    <button id="btn-proximo" class="btn btn-dark mt-3" type="button">Próximo</button>
                                    <button id="btn-enviar" class="btn btn-success mt-3" type="submit"
                                            style="display: none;">Concluir
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block">
                    <img th:src="@{/images/fotoacademiaform.jpg}" alt="imagem" height="650">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/imask"></script>
<script>
    $(document).ready(function () {
        function exibirImagemSelecionada(event) {
            var input = event.target;
            var reader = new FileReader();

            reader.onload = function (e) {
                var imagem = document.getElementById('preview');
                imagem.src = e.target.result;
            };

            reader.readAsDataURL(input.files[0]);
        }

        document.getElementById('foto').addEventListener('change', exibirImagemSelecionada);
        // Máscaras de input
        IMask(document.getElementById('telefone'), {mask: '(00) 0000-0000'});
        IMask(document.getElementById('celular'), {mask: '(00) 00000-0000'});
        IMask(document.getElementById('cpf'), {mask: '000.000.000-00'});
        IMask(document.getElementById('altura'), {mask: '0.00'});
        IMask(document.getElementById('peso'), {mask: '000.00'});

        // Variáveis de controle de progresso
        currentStep = 1;
        maxSteps = 4;

        //funcao para atualizar os ícones e estilo de cada etapa do formulário
        function atualizarProgresso() {
            for (var i = 1; i <= maxSteps; i++) {
                if (i == currentStep) {
                    $('#dados-' + i).show();
                    $('.passo:eq(' + (i - 1) + ')').addClass('text-bg-secondary');
                } else {
                    $('#dados-' + i).hide();
                    $('.passo:eq(' + (i - 1) + ')').removeClass('text-bg-secondary');
                }
            }


            if (currentStep === 1) {
                // Primeiro passo, desabilitar o botão de voltar
                $('#btn-anterior').prop('disabled', true);
            } else {
                $('#btn-anterior').prop('disabled', false);
            }

            if (currentStep === maxSteps) {
                // Último passo, mostrar o botão de enviar
                $('#btn-proximo').hide();
                $('#btn-enviar').show();
            } else {
                // Não é o último passo, mostrar o botão de próximo
                $('#btn-proximo').show();
                $('#btn-enviar').hide();
            }
        }

        // Função para avançar para o próximo passo
        function avancar() {
            // Verifica se todos os campos estão preenchidos antes de avançar, exceto o campo de imagem
            var camposPreenchidos = true;
            $('#dados-' + currentStep + ' input, #dados-' + currentStep + ' textarea').each(function () {
                if ($(this).val() === '') {
                    camposPreenchidos = false;
                    return false; // Para a iteração
                }
            });

            if (camposPreenchidos) {
                currentStep++;
                atualizarProgresso();
            } else {
                alert('Por favor, preencha todos os campos antes de avançar.');
            }
        }


        // Função para voltar para o passo anterior
        function voltar() {
            if (currentStep > 1) {
                currentStep--;
                atualizarProgresso();
            }
        }

        // Evento de clique no botão de próximo
        $('#btn-proximo').click(avancar);

        // Evento de clique no botão de voltar
        $('#btn-anterior').click(voltar);

        //inicialização do progresso
        atualizarProgresso();
    });
</script>
</body>

</html>
