<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{template :: layout (~{:: body})}">
<body>
<section class="hero is-dark is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <h1 class="title has-text-centered">Formulário de Cadastro</h1>
                    <form action="#" th:action="@{/cliente/salvar}" th:object="${cliente}" method="post">
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input" type="text" th:field="*{nome}" required placeholder="Nome">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input" type="text" th:field="*{cpf}" required placeholder="CPF">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-id-card"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input" type="number" th:field="*{matricula}" required placeholder="Matrícula">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-graduation-cap"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input" type="text" th:field="*{telefone}" placeholder="Telefone">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-phone"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input" type="text" th:field="*{celular}" required placeholder="Celular">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-mobile-alt"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input" type="email" th:field="*{email}" required placeholder="Email">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input" type="date" th:field="*{dataNasc}" required placeholder="Data de Nascimento">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-calendar"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input" type="number" th:field="*{peso}" required placeholder="Peso">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-weight"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input" type="number" th:field="*{altura}" required placeholder="Altura">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-ruler-vertical"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <textarea class="textarea" th:field="*{objetivo}" placeholder="Objetivo"></textarea>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <input class="file-input" type="file" th:field="*{foto}">
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <textarea class="textarea" th:field="*{observacoes}" placeholder="Observações"></textarea>
                            </p>
                        </div>
                        <div class="field">
                            <div class="control has-text-centered">
                                <button class="button is-link" type="submit">Enviar</button>
                                <button class="button" type="reset">Resetar</button>
                            </div>-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/inputmask@5.0.6/dist/inputmask.min.js"></script>
</body>
</html>
